@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 0;
    font-family: sans-serif;
    font-family: Montserrat;
}

.content {
    max-width: 1440px;
    width: 100%;

    margin: auto;
    border: 1px solid transparent;

    box-shadow: 0px 5px 30px 1px #000000;
    text-align: center;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.row-rev {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-rev {
    flex-direction: column-reverse;
}

/* Header */

.header {
    min-height: 95vh;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 40px;
}

.back-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    background-image: url(../images/backgroundHero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* Advanced */
    background-attachment: fixed;
    transform: translateZ(0);
}

.header-content {
    color: white;
}

.buttons {
    justify-content: center;
    align-items: center;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 15px 40px;

    border: 2px solid;
    border-radius: 30px;

    transition: 0.4s ease;
    transition-property: box-shadow, background-color, color;
}

.button:hover {
    box-shadow: 0px 0px 10px 1px black;
    color: white;
    background-color: orangered;
}

.phone-group {
    margin: -15% 0 100px;

    filter: drop-shadow(20px 10px 10px rgba(139, 139, 139, 0.5));

    position: relative;
    z-index: 1;
}

/* Main */

.hr-line {
    max-width: 70%;
    margin: 20px auto;
    border-color: #E4E4E4;
}

.main-header {
    font-size: 44px;
}

.art1 {
    justify-content: center;
    text-align: left;
}

.phone-art1 {
    filter: drop-shadow(20px 10px 10px rgba(139, 139, 139, 0.5));
}

.art1-text {
    justify-content: center;
    max-width: 40%;
}

.art-link,
.art-descr {
    font-size: 24px;
}

.art-link a {
    color: #FA4A0C;
    text-decoration: none;
}

.art-header,
.art-descr {
    margin-top: 20px;
}

.art-header {
    font-size: 40px;
}

.art-descr {
    color: #737373;
}

